-#  This file is app/views/movies/index.html.haml

%h1 All Movies

= form_tag movies_path, :name => "movies_form", :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @user_selected_ratings[rating], :id => "ratings_#{rating}"
  %input{:type => "hidden", :name => "hidden_sort_col", :value => @sort_col}
  = submit_tag 'Refresh', :id => 'ratings_submit'

%table#movies
  %thead
    %tr
      %th{:class => (@sort_col == "title") ? "hilite" : ""}= link_to "Movie Title", "#", :id => 'title_header', :onclick => "document.movies_form.elements['hidden_sort_col'].value='title'; document.movies_form.submit(); return false;"
      %th Rating
      %th{:class => (@sort_col == "release_date") ? "hilite" : ""}= link_to "Release Date", "#", :id=> 'release_date_header', :onclick => "document.movies_form.elements['hidden_sort_col'].value='release_date';document.movies_form.submit(); return false;"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
